doctype=html
html
    head
        title Error - #{formId}
        style(type="text/css").
            .error {padding: 20px; margin: 1px solid black; background-color: "#ff0000"}
    body
        div.error
            h4 Error submitting form #{formId}