doctype=html
html
    head
        title Submitted Successfully - #{formId}
        style(type="text/css").
            .success{padding: 20px; margin: 1px solid black; background-color: "#0000ff"}
    body
        div.success 
            h4 Form #{formId} submitted successfully